:root {
    --first-color: #011212;
    --second-color: #ff8800;
    --general-width: 100px;
    --general-height: 100px;
    --modified-border-radius: 50px;
}

body {
    background-color: var(--first-color);
}

.ball {
    width: var(--general-width);
    height: var(--general-height);
    background-color: var(--second-color);
    border-radius: var(--modified-border-radius);
}

